:root {
/** Screen-sizes **/
 --Mobile: (width:375px);
 --Desktop: (width:1440px);

/*Colors*/
/*Primary*/
--Brightorange: hsl(31, 77%, 52%)--;
--Darkcyan: hsl(184, 100%, 22%)--; 
--Verydarkcyan: hsl(179, 100%, 13%)--;
/**Neutral**/
---Transparentwhite: hsla(0, 0%, 100%, 0.75)---;
/**background,
  headings,
  buttons **/
---Verylightgray: hsl(0, 0%, 95%)---;
}

* {
  padding: 0;
  margin: 0;
}

/** MAIN-STYLING **/
.article-section {
  border-radius: 15px;
  /* padding: 10px; */
  display: flex;
  justify-content: space-between;
}

article {
  border: 2px solid #000;
  height: 298px;
}

article h2 {
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 10px;
}

article p {
  padding-top: 20px;
  padding-bottom: 35px;
  padding-left: 5px;
  padding-right: 5px;
}

article a {
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  border: 1px solid #000;
  border-radius: 10px;
  text-decoration: none;
  background-color: #fff;
}

.bloq-article-1{
  background-color: hsl(31, 77%, 52%);
}

.bloq-article-2{
  background-color:hsl(184, 100%, 22%);
}

.bloq-article-3{
  background-color:hsl(179, 100%, 13%);
}
/** END-MAIN-STYLING **/


/** FOOTER-STYLING **/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/***** 

--Fontsize: 15px --;
--Family: Lexend Deca('https://fonts.google.com/specimen/Lexend+Deca')--;
--Weights: 400--;
--Family: Big Shoulders Display('https://fonts.google.com/specimen/Big+Shoulders+Display')--;
--Weights: 700--;


****/